.data-block-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;        
}

.data-block {
    width: 100%;
    margin-bottom: 50px;
    text-align: left;
    font-style: oblique;
}

.details-text-heading {
    font-weight: 700;
    font-style: normal;
}



@media screen and (min-width: 768px) {
    .content-container {
        padding: 0 15px;
    }

    .data-block-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .data-block {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media screen and (min-width: 1024px) {
    .content-container {
        padding: 0 50px;
    }

    .data-block {
        width: 30%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
}