.data-block-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;        
}

.data-block {
    margin-bottom: 50px;
    text-align: left;
    font-style: oblique;
}

.data-block-thirds {
    width: 100%;
}

.data-block-half {
    width: 100%;
}

.data-block-full {
    width: 100%;
}

.details-text-heading {
    font-weight: 700;
    font-style: normal;
}

@media screen and (min-width: 768px) {
    .content-container {
        padding: 0 15px;
    }

    .data-block-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .data-block-thirds {
        width: 48%;
        margin-right: 2%;
    }
    
    .data-block-half {
        width: 48%;
        margin-right: 2%;
    }
}

@media screen and (min-width: 1024px) {
    .content-container {
        padding: 0 50px;
    }

    .data-block-thirds {
        width: 30%;
        margin-right: 2%;
    }
}