.navbar-button {
    height: 90%;
    display: inline-block;
    background-color: rgba(0, 82, 135, 1);
    color: #fff;
    margin: 0 2px;
    padding: 0 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.navbar-button:hover {
    background-color: rgba(0, 82, 135, .5);
    color: #333;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.navbar-button-text {
    line-height: 0.75;
}