.nav-button-container {
    position: relative;
    display: inline-block;
}
.nav-button {
    cursor: pointer;
    height: 45px;
    display: inline-block;
    background-color: #005287;
    color: #fff;
    margin: 0 2px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0;
    font-size: 1em;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.nav-button:hover {
    background-color: #88A8C5;
    color: #333;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.nav-dropdown {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    min-width: 100px;
    max-width: 150px;
    z-index: 2;
    background-color: #a7a9ac;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 8px 12px;
}

li:hover {
    color: #fff;
    cursor: pointer;
}

button:focus {
    outline:0;
}


@media screen and (min-width: 450px){
    .nav-dropdown {
        width: 150px;
    }
}